<div class="topnav">
  <a class="active" routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/Contact" routerLinkActive="active">Contact</a>
  <a routerLink="/News" routerLinkActive="active">News</a>
</div>

<div class="card">
  <nav>
    <ul>
      <li>
        <a routerLink="our-website" routerLinkActive="active"
          >GO TO OUR WEBSITE</a
        >
      </li>
      <li>
        <a routerLink="w3-website" routerLinkActive="active"
          >GO TO W3.SCHOOL WEBSITE</a
        >
      </li>
      <li>
        <a routerLink="google" routerLinkActive="active">GO TO GOOGLE.COM</a>
      </li>

      <ol>
        <a class="button" routerLink="maps" routerLinkActive="activebu">MAPS</a
        ><br />
        <a class="button" routerLink="crome" routerLinkActive="activebutton"
          >CROME</a
        >
      </ol>
    </ul>
  </nav>
</div>


<div>
  <a routerLink="page-not-found" routerLinkActive="active">EXIT</a>
</div>

<router-outlet></router-outlet>
